* {
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    box-sizing: border-box;
}

img {
    border: 10px solid white;
    width: auto;
    height: 700px;
    
}

.list1 {
    width:300px;
    padding:10px;
    background-color: gray;
    margin: auto;
    border: 5px solid gray
}

ol li {
    text-align: left;
}



ol, 
ul {
    margin: auto;
    width: 700px
}